<footer class="site-footer">
  <div class="container">
    <div class="row">

      {{ with .Site.Params.footer.social }}
      <div class="col-lg-2 col-md-6">
        <div class="site-footer-widget">
          <h5 class="site-footer-widget-title">{{ .title }}</h5>
          <ul class="site-footer-widget-links">
            {{ range .link }}
              <li><a href="{{ .url }}"><i class="fa fa-{{ .name }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
   
      <div class="col-lg-2 col-12">
        <a href="#top" class="site-footer-widget-top">
          <img src="{{ "images/to-top.svg" | absURL }}" alt="back-to-top">
          <p>
            Tudo
            <br>
            de novo
          </p>
        </a>
      </div>
    </div>
  </div>
</footer>

{{ $formhandler := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script>
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>