$white: #311d40;/*#f2f3f7;*/
$black: #fcfcfc;
//site color variables
$body-color: $white;
$primary-color: #e23357;
$secondary-color: #29E3B2;
$text-color: #d2d3d9;
$text-color-dark: $black;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #3e284f;
$dark-gray: #ba4c7f;

// solid colors


// Font Variables
$primary-font: 'Spartan', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
